.header{
    background-color: white;
    border-bottom : 1px solid #337ab7;
    margin-bottom: 2em;
}
.header .header-title{
    display: inline;
}
.header .menu-icon{
    float: right;
    display: inline;
    cursor:pointer;
}

.header ul a{
    color:#337ab7;
}

.header .pull-xs-right{
    float :right;
}

.header .pull-xs-left{
    float :left;
}

.header .form-block {
    max-width :80%;
    margin-left:auto;
    margin-right:auto;
}

.header .navbar{
    border : none;
    padding-left: 1em;
    padding-right: 1em;
    margin-bottom: 0em;
}
.header .nav .active {
    background-color: #eee;
    color:deepskyblue;
    border-left: 1px solid #337ab7;
    border-right: 1px solid #337ab7;
}

@media (min-width: 768px){
    .header ul li {
        padding-left: 0em;
        margin-left:1em;
    }
    .header .navbar{
        border-left: 1px solid #337ab7;
    }
    .header .menu-icon {
      display:none;
    }
}

@media (max-width: 768px){

    .header ul li {
        padding-left: 0em;
        margin-bottom:1em;
    }
    .header .pull-xs-right{
        float :none;
    }

    .header .pull-xs-left{
        float :none;
    }

    .header .hide-menu{
        display:none;
    }

    .header .nav .active{
        border:none;
        border-bottom: 1px solid #23527c;
        border-left: 1px solid #23527c;
    }
}